:root {
  --main-color-outline: #d1d1d1ff; /* Определяем переменную с цветом */
  --error-color: #cc1439ff;
}

.input:focus {
  outline: 1px solid var(--main-color-outline);
}

.input {
  padding: 0 10px;
  min-height: 26px;
  width: 80%;
  border: 1px solid var(--main-color-outline);
  border-radius: 5px;
}

.inputWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.superInput {
}

.errorInput {
  border: 1px solid var(--error-color);
}

.errorInput:focus {
  outline: 1px solid var(--error-color);
}

.error {
  color: var(--error-color);
}
