html {
    scrollbar-width: none;
}

.App {
    --header_height: 60px;
    background-size: contain;
    background-color: antiquewhite;
}

.hw {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

