.friendMessage {
}

.friendImageAndText {
}

.friendImageAndText img {
  height: 192px;
  width: 192px;
  border-radius: 50%;
}

.friendText {
}

.friendText:after {
}

.friendName {
}

.friendMessageText {
}

.friendTime {
}
