.select {
    width: 100px;
    margin-right: 70px;
    cursor: pointer;

    appearance: none;
    background-image: url("./chevron-down.svg");
    background-repeat: no-repeat;
    background-position: right 0.3rem top 50%, 0 0;
    background-size: 1rem auto, 100%;
    /*background-color:rgba(199, 155, 15, 0.4);*/

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;

}


.select:focus {
}

.option {
    background-color:rgba(199, 155, 15, 0.4);
}
.option:hover {
    opacity: 1;
    cursor: pointer;
    background: red;
}
