.burgerMenuIcon {
  height: 4vh;
  width: 4vw;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 3vw;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: left;
}

[data-theme='1'] .header {
  color: #000000;
  background-color: #dedcdc;
}

[data-theme='2'] .header {
  color: #000000;
  background-color: #aebbc9;
}

[data-theme='3'] .header {
  color: #ffffff;
  background-color: #495a75;
}
